**/node_modules
**/dist
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/*.sqlite3
**/staticfiles
**/media
.git
.gitignore
.vscode
.DS_Store
