# Env
.env
.env.dev
.env.prod

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
dist-ssr/

# Backup / patch artifacts
.bak
*.bak
*.orig
*.rej
*.save
*~

# OS/editor noise
nightly-push.sh
prod-sync.sh
.DS_Store
.idea/
.vscode/

# frontend
frontend/node_modules/
frontend/dist/
